<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<groups>
		<run>
			<include name = "Database"/>
			<include name = "Testing"/>
		</run>
	</groups>


  <test thread-count="5" name="Test">
  	<parameter name="username" value="admin"/>
  	<parameter name="password" value="admin"/>
  	<parameter name="loginType" value="administrator"/>  
    <classes>
      <class name="com.testngdemo.SecondModule">
      	<!--methods>
      		<include name="methodOneTest" />
      	</methods-->
      </class>
      <class name="com.testngdemo.FirstModuleTests">
      	<!--methods>
      		<include name="methodOneTest" />
      	</methods-->
      </class>
      <class name="com.testngdemo.MyTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
