
@media screen and (max-width: 800px) {
	nav {
		position: sticky;
		top:0;
	}
	.nav-links {
		position: absolute;
		top: 10vh;
		left: 0;
		width: 40vh;
		height: 90vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgb(35, 35, 35);
		transform: translateX(-100%);
		transition: 0.3s ease-in-out;
		z-index: -1;
	}
	.nav-links li {
		opacity: 0;
	}
	.logo {
		flex: 1;
		order: 2;
		padding-left: 20px;
		text-align: center;
		cursor: default;
	}
	.logo span {
		cursor: pointer;
	}
	.login {
		order: 3;
		margin: 0 20px;
	}
	.burger {
		margin: 20px;
		order: 1;
		display: block;
	}
	.body {
		font-size: 10px;
		margin: 0 20px;
	}
	.footer {
		min-height: 20vh;
		margin: 10px 0 0 0;
		font-size: 10px;
		background-color: grey;
		display: flex;
		flex-direction: column;
	}
	.footer-row {
		flex: 1;
		margin: 20px 30px;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.footer-col {
		flex: 1;
		margin: 20px 0;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navTextSlide {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}