.list-group-horizontal .list-group-item {
	width: 33.33%;
	text-align: center;
}

.quiz-page {
	margin-top: 20px;
}

.quiz-page-title {
	text-align: center;
	margin-bottom: 20px;
}

.question-box {
	/* border: 1px solid; */
	color: black;
	margin-bottom: 30px;
	font-size: large;
}

.question-text {
	padding: 20px;
	background-color: rgb(174, 224, 245);
	font-weight: bold;
}

.option {
	margin-left: 10px;
}

.submit-button-holder {
	margin-bottom: 30px;
	text-align: center;
}
/* 
Instructions needed at the Quiz page below title.
change the Welcome jumbotron to heading.
Mark not attempted a bit lighter shade of gray.
Adjust bottom margin for jumbotron.
check margin top css for Retake Quiz btn.
set latest attempt in Previous Attempts table as active.
recreate the footer */