.list-group-horizontal .list-group-item {
	width: 33.33%;
	text-align: center;
}

.review-page {
	margin-top: 20px;
}

.review-page-title {
	text-align: center;
	margin-bottom: 30px;
}

.NA {
	color: rgb(173, 173, 173);
}

.button-holder {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}