<div class="main-page">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
        <h5>Take Your Test</h5>
      </li>
      <li class="list-group-item active">
        <h5>Review Answers</h5>
      </li>
      <li class="list-group-item">
        <h5>Check Results</h5>
      </li>
    </ul>
</div>
<div class="review-page">
	<div class="review-page-title">
		<h3>Review you answers!</h3>
	</div>
	<table class="table table-hover table-borderless">
		<thead class="thead-dark">
			<tr>
				<th>Q</th>
				<th>Question</th>
				<th>Your Choice</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor = "let response of responses">
				<td>{{ response.qid }}</td>
				<td>{{ response.question }}</td>
				<td *ngIf="response.response; else elseBlock">{{ response.response }}</td>
					<ng-template #elseBlock><td class="NA">Not Attempted</td></ng-template>
			</tr>
		</tbody>
	</table>
	<div class="button-holder">
		<button (click)="gotoResults()" class="btn btn-lg btn-outline-info">Show me my results</button>
	</div>
</div>